default:
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - App\Tests\Behat\FeatureContext
    extensions:  
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~